body{
 background-color:#fff9cc;
 color:#333
 width:100%;
 font-family:sans-serif;
 margin:0 aoto;
}
.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  background:#417aa8;
  color:#fff;
}
